{
  "extends": ["airbnb", "airbnb/hooks", "airbnb-typescript", "eslint-config-prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/no-default-export": "error",
    "import/no-named-as-default-member": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off"
  }
}
